.formulario{
    position: relative;

}
.regreso{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 70px;
    height: 35px;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.regreso p{
    margin-top: 5px;
}
.home{
    position: absolute;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-left: 6%;
    margin-top: 5px;
    width: 70px;
    height: 35px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.home p{
    margin-top: 5px;
}
.position{
    padding-top: 100px;
}
.form{
    color: white;
    display: grid;
    grid-template-columns: 500px [x1] 500px [x2];
    grid-template-rows: 80px [y1] 80px [y2] 80px [y3] 80px [y4];
    grid-gap: 10px;
    margin-left: 10%;

}

.form select{
    width: 300px;
    height: 35px;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
}

.name{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 25%;
    
}
.name label{
    padding: 3px;
    font-size: 25px;
    margin-left: 27%;
}
.durati{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 10%;
    
}
.durati label{
    padding: 4px;
    font-size: 25px;
    margin-left: 10%;
}
.difficulty{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 25%;
}
.difficulty label{
    padding: 3px;
    font-size: 25px;
    margin-left: 22%;
}
.season{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 10%;
}
.season label{
    padding: 3px;
    font-size: 25px;
    margin-left: 22%;
}
.select{
    grid-row: y2;
    margin-left: 73%;
}
.select label{
    margin-left: 70%;
    padding: 3px;
    font-size: 25px;
}
.buttonActive{
    grid-row: y3;
    margin-left: 95%;
    width: 80px;
    height: 50px;
    opacity: 1;
}
.buttonDisabled{
    grid-row: y3;
    margin-left: 95%;
    width: 80px;
    height: 50px;
    opacity: 0;
}
select{
    background-color: #007bff2a;
    border:2px solid white;
    color: white;
}