.activite{
    opacity: 1;
}
.disabled{
    opacity: 0;
}
.exit{
    position: relative;
}
.exit input{
    position: absolute;
    width: 300px;
    height: 30px;
    border-radius: 12px;
}
.exit h5{
    padding: 3px;
    font-size: 15px;
    color: red;
    margin-top: 11%;
}

.false{
    position: absolute;
    color: red;
    height: 36px;
    width: 35px;
    margin-left: 270px;
}
.true{
    position: absolute;
    margin-left: 270px;
    color: green;
    height: 33px;
    width: 30px;
}