.loanding{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px ;
    min-width: 300px;
    margin-top: 15%;
}
.mensaje{
    min-height: 100%;
    margin: 0;
    padding: 0;
    margin-left: center;
    text-align: center;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: xx-large;
	color: #fff;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
.mensaje :hover{
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.inicio{
    min-width: 300px;
    min-height: 60px;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 22px;
    margin-top: 5%;
    color: #fff;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    border: 0;

    
}

.inicio:hover{
    box-shadow:
        0 0 5px rgba(0,178,255,1),
        0 0 5px rgba(0,178,255,1),
        0 0 5px rgba(0,178,255,1),
        0 0 5px rgba(38,104,127,1),
        0 0 5px rgba(38,104,127,1),
        0 0 5px rgba(38,104,127,1),
        0 0 5px rgba(38,104,127,1),
        0 0 5px rgba(38,104,127,1),
        0 0 5px rgba(38,104,127,1);
    background-color: rgba(11, 27, 245, 0.466);
    cursor: pointer;
}