.container-fluid{
  margin: 0;
  padding: 0;
}
.title {
  padding-left: 20px;
  font-family: Titillium Web;
  font-weight: bold;
  font-size: 35px;
color: #fff;
  text-decoration: none;
text-shadow:
  0 0 5px rgba(0,178,255,1),
  0 0 10px rgba(0,178,255,1),
  0 0 20px rgba(0,178,255,1),
  0 0 40px rgba(38,104,127,1),
  0 0 80px rgba(38,104,127,1),
  0 0 90px rgba(38,104,127,1),
  0 0 100px rgba(38,104,127,1),
  0 0 140px rgba(38,104,127,1),
  0 0 180px rgba(38,104,127,1);
}

.FcGlobe {
  margin-top: -4px;
}

.button {
  border: 1px solid red;
  margin-right: 15px;
}