.contenedorId{
    min-height: 100%;
    width: 100%;
}
a button{
    margin-left: 10px;
    height: 40px;
    width: 60px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #007bff;
    cursor: pointer;
}
a button:hover{
    background-color: #007bff;
    border: 1px solid #7cbddb;
}
enlace {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #007bff;
}

.id{
    display: flex;
    border: 3px solid #007bff;
    max-width: 60%;
    height: 350px;
    margin-left: 20%;
    border-radius: 18px;
    background-color: rgba(20, 183, 223, 0.192);


}

.id img{
    margin: none;
    width: 40%;
    border-radius: 12px;

}
.info{
    padding: 4px;
    width: 100%;

}
.info h1{
    width: 100%;
}
.info h2{
    padding: none;
    margin: none;
    background-color: black;
    width: 100%;
    margin-left: 1px;
}
.a1{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #007bff;
    cursor: pointer;
}
